
// Colors
$main-text      : #F0F0F0;
$main-text-dark : #434D63;

$main-background       : #7A808F;
$main-background-light : #D8D9DD;

$secondary-background        : #434D63;
$secondary-background-light  : #9CA0A9;

// Media Query Breakpoints
$phone  : 576px;
$tablet  : 768px;
